!!! 5
html
  head
    title Currency chart.
    
    // include default stylesheets and any view stylesheets
    link(rel='stylesheet', href=base + '/stylesheets/styles.css')
    link(rel='stylesheet', href=base + '/stylesheets/style.css')
    link(rel='stylesheet', href=base + '/stylesheets/bootstrap.css')
    
    // include default scripts and any view scripts
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src=base + '/javascripts/currency.chart.js')
    script(src=base + '/javascripts/main.js')
    
  body   
    header
    #body!= body
      
    footer
      div(class="content-wrapper")
        div(class="float-left")
          p &copy; !{(new Date()).getFullYear()}